---
layout: layout-pane.njk
section: Get started
title: Before you start
description:
show_subnav: true
theme: Make your first prototype
order: 1
---

This tutorial shows you how to set up a basic service that will:

- ask 2 questions
- show the user's answers - if their answers mean they're eligible
- redirect the user to an end page - if they're ineligible

## Before you start

Before you start, you'll need to:

- [install the GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com/docs/install/introduction)
- [run the kit and check it works](https://govuk-prototype-kit.herokuapp.com/docs/install/run-the-kit.md)
- open your project in Atom
