---
title: Start page
description: Template for a start page
section: Template pages
aliases:
layout: layout-pane.njk
---

{% from "_test.njk" import test %}

{{ test({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/start"}) }}
