---
layout: layout-pane.njk
section: Get started
title: Link your index page to your start page
description:
show_subnav: true
theme: Make your first prototype
order: 12
---

You can route users from your service's index page to your start page. The index page is the page that loads when users visit http://localhost:3000.

1. Open the `index.html` file in your `app/views` folder.
2. Replace the content with your own content, and add an `<a>` tag that links to `/start`

You're done!

In order to share your prototype with your team or do user research you might want to publish it online

You can also find out how to:

- redirect users based on their answers
- xxx
