---
layout: layout-pane.njk
section: Get started
title: Link your pages together
description:
show_subnav: true
theme: Make your first prototype
order: 4
---

To take users from one page to another, you need to use:

- html links - in content, and components like buttons
- the `action` parameter - in `<form>` tags

## Link your start page to question 1

1. Open `start.html` in your `app/views` folder.
2. Find the `<a>` tag with `Start now` inside.
3. Replace `href="#"` in the tag with `href="/juggling-balls"`.

Go to http://localhost:3000/ and click the start button to check it worked.

## Link question 1 to question 2

1. Open `juggling-balls.html` in your `app/views` folder.
2. Find the line ``<form class="form" action="/url/of/next/page" method="post">``.
3. Replace `/url/of/next/page` with `/juggling-trick`.

Go to http://localhost:3000/juggling-balls and select an answer check it worked.

## Link question 2 to your 'Check your answers' page

1. Open `juggling-tricks.html` in your `app/views` folder.
2. Find the line `<form class="form" action="/url/of/next/page" method="post">`.
3. Replace `/url/of/next/page` with `/check-your-answers`.

Go to http://localhost:3000/juggling-tricks and select an answer to check it worked.
